@font-face {
font-family: 'proxima_nova_rgbold';
src: url("../fonts/proximanova-bold-webfont.eot");
src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_novasemibold';
src: url("../fonts/proximanova-semibold-webfont.eot");
src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_nova_condensedSBd';
src: url("../fonts/proximanovacond-semibold-webfont.eot");
src: url("../fonts/proximanovacond-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanovacond-semibold-webfont.woff") format("woff"), url("../fonts/proximanovacond-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_novaregular';
src: url('../fonts/proximanova-regular-webfont-webfont.eot');
src: url('../fonts/proximanova-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont-webfont.svg#proxima_novaregular') format('svg');
font-weight: normal;
font-style: normal;
}