/** General CSS **/
#f45 {
    font-size: 16px;
    font-family: proxima_novaregular !important;
}

#f45 .container {
    max-width: 1200px;
}

#f45 .pn-semibold {
    font-family: proxima_novasemibold !important;
}

#f45 .fs-large {
    font-size: 18px;
}

/** Header - navbar - CSS **/
#f45 .navbar{
    background-color: #2B2C5C;
}
#f45 .navbar .container .navbar-brand {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
}
#f45 .navbar .navbar-nav .nav-link {
    color: #444B8E;
}