/*

0 - 425px :        phone
425px - 768px :    tab
768px - 1024px :   small-laptop
1024px - 1200px :  large-laptop
1200px - 1440px :  hd-desktop
1440px - 1920px :  fullhd-desktop
More than 1920px : 4K

*/
/** General CSS **/
html {
  font-size: 16px;
  font-family: proxima_novaregular !important; }

#f45 {
  /* Color General Classes */ }
  #f45 .container {
    max-width: 75rem; }
  #f45 .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none; }
  #f45 .f45-pointer:hover {
    cursor: pointer; }
  #f45 .f45-primary {
    color: #2B2C5C; }
  #f45 .f45-white {
    color: #FFFFFF; }
  #f45 ul {
    list-style-type: none; }
  #f45 a {
    text-decoration: none; }

#f45 .pn-semibold {
  font-family: proxima_novasemibold !important; }

#f45 .fs-large {
  font-size: 18px; }

.f45-button-primary {
  width: 7.5rem !important;
  background-color: #2B2C5C;
  color: #FFFFFF;
  font-weight: bold;
  border: none !important; }
  .f45-button-primary:hover {
    background-color: #444B8E; }

.bg-loader {
  position: absolute;
  width: 1.875rem;
  left: 2.8125rem;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  top: 7px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* The container */
.cb-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */ }
  .cb-container .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0 !important;
    /* Show the checkmark when checked */ }
    .cb-container .checkbox:checked ~ .checkmark:after {
      display: block; }
  .cb-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.75rem;
    width: 1.75rem;
    background-color: #FFFFFF;
    border-radius: 0.125rem;
    border: 2px solid #C5C6CC;
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Style the checkmark/indicator */ }
    .cb-container .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .cb-container .checkmark:after {
      left: 10px;
      top: 3px;
      width: 8px;
      height: 18px;
      border: solid #FFFFFF;
      border-width: 0 2.5px 2.5px 0px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .cb-container .checkbox {
    /* When the checkbox is checked, add a blue background */ }
    .cb-container .checkbox ~ .checkmark {
      border: 2px solid #8B8C9A; }
    .cb-container .checkbox:checked ~ .checkmark {
      background-color: #408CE0;
      border: none; }

/** Header Navbar **/
#f45 .navbar {
  background-color: #2B2C5C;
  padding: 0; }
  @media only screen and (max-width: 767px) {
    #f45 .navbar {
      height: 4rem; } }
  #f45 .navbar .navbar-brand {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem; }
    @media only screen and (max-width: 767px) {
      #f45 .navbar .navbar-brand {
        margin: 0 auto;
        width: 3rem;
        height: 3rem;
        margin-top: 9px;
        margin-bottom: 7px;
        background-size: 50%; } }
  #f45 .navbar .navbar-toggler {
    position: absolute;
    left: 0.3125rem;
    top: 1.25rem; }
    #f45 .navbar .navbar-toggler:focus {
      outline: none; }
    #f45 .navbar .navbar-toggler span {
      font-size: 15px;
      color: #FFFFFF; }
    #f45 .navbar .navbar-toggler .menu-cross {
      background-image: url(../../img/cross1.png); }
  #f45 .navbar .mq-sign {
    position: absolute;
    right: 1.0625rem;
    top: 1.25rem; }
  @media only screen and (max-width: 767px) {
    #f45 .navbar .navbar-collapse {
      background-color: #2B2C5C;
      height: 93vh; } }
  #f45 .navbar .navbar-collapse .navbar-nav .nav-item {
    height: 5rem;
    line-height: 5rem; }
    #f45 .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #C5C6CC;
      height: 100%;
      padding: 0;
      width: 110%;
      text-align: center; }
      #f45 .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: #FAFAFA;
        border-bottom: 0.3125rem solid #FF0439;
        transition: border-bottom 0.15s;
        transition-timing-function: ease-in-out; }
      @media only screen and (max-width: 767px) {
        #f45 .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          text-align: left;
          padding-left: 1.1rem; } }

footer {
  text-align: center !important;
  height: 100%; }
  footer ul {
    text-align: center !important;
    background: #F3F3F7;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    padding-top: 5.5rem; }
    footer ul li {
      margin-right: 25px; }
      footer ul li a {
        display: inline;
        list-style-type: none;
        float: left !important;
        border-radius: 50%;
        height: 57px;
        line-height: 71px;
        width: 57px;
        background-color: #C5C6CC; }
        footer ul li a i {
          font-size: 35px;
          color: #FFFFFF; }
      footer ul li:nth-child(1) a:hover {
        background-color: #3C5A99; }
      footer ul li:nth-child(2) a:hover {
        background-color: #00acee; }
      footer ul li:nth-child(3) a:hover {
        background-color: #4ebbff; }
  footer .row {
    max-width: 400px;
    margin: 0 auto; }
    footer .row a {
      color: #408CE0 !important;
      font-weight: 700; }
      footer .row a:hover {
        color: #444B8E !important; }
    footer .row small {
      width: 100%; }

@media only screen and (max-width: 767px) {
  .f45-login {
    width: 90%; } }

.f45-login .row {
  padding-top: 4rem; }
  @media only screen and (max-width: 767px) {
    .f45-login .row .col-md-8 {
      padding-bottom: 1.5rem; } }
  .f45-login .row .col-md-8 form fieldset label {
    font-size: 1.125rem;
    color: #444B8E;
    margin-bottom: 0.4rem; }
  .f45-login .row .col-md-8 form fieldset input {
    border: 0.125rem solid #C5C6CC;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.125rem;
    width: 57%; }
    .f45-login .row .col-md-8 form fieldset input:hover {
      border-color: #8B8C9A; }
    .f45-login .row .col-md-8 form fieldset input:focus {
      border-color: #408CE0;
      outline: none; }
    @media only screen and (max-width: 767px) {
      .f45-login .row .col-md-8 form fieldset input {
        width: 100%; } }
  .f45-login .row .col-md-8 form fieldset:last-child {
    position: relative; }
  .f45-login .row .col-md-8 a {
    color: #408CE0 !important; }
    .f45-login .row .col-md-8 a:hover {
      color: #444B8E !important; }
  .f45-login .row .col-md-4 {
    border-left: 1px solid #ebeff0; }
    @media only screen and (max-width: 767px) {
      .f45-login .row .col-md-4 {
        text-align: center;
        padding-top: 1.5rem;
        border-left: 0;
        border-top: 1px solid #ebeff0; } }
    .f45-login .row .col-md-4 h6 {
      color: #2B2C5C; }
