footer{
    text-align: center !important;
    height: 100%;
    ul{
        text-align: center !important;
        background: $color-light;
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        padding-top: 5.5rem;
        li{
            margin-right: 25px;
            a{
                display: inline;
                list-style-type: none;
                float: left !important;
                border-radius: 50%;
                height: 57px;
                line-height: 71px;
                width: 57px;
                background-color: $color-grey;
                i{
                    font-size: 35px;
                    color: $color-white;
                }
                
            }
            &:nth-child(1){
                a:hover{
                    background-color: #3C5A99;
                }
                
            }
             &:nth-child(2){
                a:hover{
                    background-color: #00acee;
                }
                
            }
             &:nth-child(3){
                a:hover{
                    background-color: #4ebbff;
                }
                
            }
            
        }
    }
    .row{
       max-width: 400px;
        margin: 0 auto;
        
        a{
            color: $color-link !important;
            font-weight: 700;
            
            &:hover {
                color: $color-primary-light !important;
            }
        }
        small{
            width: 100%;
        }
    }
}