/** Header Navbar **/

#f45 .navbar {
        background-color: $color-primary;
        padding: 0;
        
    @include responsive(tab) {
        height: 4rem;
    }
    
        .navbar-brand {
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 4rem;
            height: 4rem;
            
            @include responsive(tab){
                margin: 0 auto;
                width: 3rem;
                height: 3rem;
                margin-top: 9px;
                margin-bottom: 7px;
                background-size: 50%;
            }
        }
    .navbar-toggler{
        position: absolute;
        left: 0.3125rem;//5px
        top: 1.25rem;//20px
        
        &:focus {
            outline: none;
        }
        
        span {
            font-size: 15px;
            color: $color-white;
             
        }
        
        .menu-cross {
            background-image: url(../../img/cross1.png);
            
        }

    }
    .mq-sign {
        position: absolute;
        right: 1.0625rem;//17px
        top: 1.25rem;//20px
        
    }
    .navbar-collapse{
        @include responsive(tab){
                background-color: $color-primary;
                height: 93vh;
                
            }
        .navbar-nav {
            .nav-item {
                height: 5rem;
                line-height: 5rem;
                .nav-link {
                    color: #C5C6CC;
                    height: 100%;
                    padding: 0;
                    width: 110%;
                    text-align: center;
                    &:hover {
                        color: $color-grey-light;
                        border-bottom: 0.3125rem solid $color-secondary;//0.3125em = 5px
                        transition: border-bottom 0.15s;
                        transition-timing-function: ease-in-out;
                    }
                @include responsive(tab){
                text-align: left;
                    padding-left: 1.1rem;
            }
                }
            }
        }
    }
    }