// MEDIA QUERY MANAGER
/*

0 - 425px :        phone
425px - 768px :    tab
768px - 1024px :   small-laptop
1024px - 1200px :  large-laptop
1200px - 1440px :  hd-desktop
1440px - 1920px :  fullhd-desktop
More than 1920px : 4K

*/

@mixin responsive($breakpoint) {
    @if($breakpoint == phone) {
        @media only screen and (max-width: 26.5625em) {@content};//425px
    }
    @if($breakpoint == large-phone) {
        @media only screen and (max-width: 575px) {@content};//575px
    }
    @if($breakpoint == tab) {
        @media only screen and (max-width: 767px) {@content};//767px
    }
    @if($breakpoint == small-laptop) {
        @media only screen and (max-width: 64em) {@content};//1024px
    }
    @if($breakpoint == large-laptop) {
        @media only screen and (max-width: 75em) {@content};//1200px
    }
    @if($breakpoint == hd-desktop) {
        @media only screen and (max-width: 90em) {@content};//1440px
    }
}

//===== Custom Mixins =====

//Labels

@mixin labels() {
    font-size: 1.125rem;//18px
    color: $color-primary-light;
    margin-bottom: 0.4rem;
}

//Inputs

@mixin inputs($input-width) {
    border: 0.125rem solid $color-grey;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.125rem;//18px
    width: $input-width;
    &:hover {
        border-color: $color-white-secondary;
    }
                    
    &:focus {
        border-color: $color-link;
        outline: none;
    }
}

//Buttons

@mixin primary-btn($btn-width) {
    width: $btn-width !important;
    background-color: $color-primary;
    color: $color-white;
    font-weight: bold;
    border: none !important;
    
    &:hover {
        background-color: $color-primary-light;
    }
}