//color variables
$color-primary: #2B2C5C;
$color-secondary: #FF0439;
$color-link: #408CE0;
$color-primary-light: #444B8E;
$color-success: #71BE6B;
$color-error: #FF0439;
$color-warning: #FFC000;
$color-white: #FFFFFF;
$color-white-secondary: #8B8C9A;
$color-white-disabled: #2F3149;
$color-black: #181A35;
$color-grey: #C5C6CC;
$color-grey-light: #FAFAFA;
$color-light: #F3F3F7;
