/** General CSS **/

html {
    font-size: 16px;
    font-family: proxima_novaregular !important;
    
}
#f45 {
    .container {
        max-width: 75rem; //1200px
    }
    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
    .f45-pointer:hover {
        cursor: pointer;
    }
    /* Color General Classes */
    .f45-primary {
        color: $color-primary;
    }
    .f45-white {
        color: $color-white;
    }
    ul {
      list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}

