.f45-button-primary{
    @include primary-btn(7.5rem);
}
.bg-loader {
        position: absolute;
        width: 1.875rem; //30px
        left: 2.8125rem; //45px
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        top: 7px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}