/* The container */
.cb-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1.375rem; //22px
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0 !important;
        
        /* Show the checkmark when checked */
        &:checked {
            ~ .checkmark:after {
                display: block;
            }
        }
        
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.75rem; //28px
        width: 1.75rem;
        background-color: $color-white;
        border-radius: 0.125rem;
        border: 2px solid $color-grey;
        
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Style the checkmark/indicator */
        &:after {
            left: 10px; //10px
            top: 3px; //3px
            width: 8px; //8px
            height: 18px; //18px
            border: solid $color-white;
            border-width: 0 2.5px 2.5px 0px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

        .checkbox {
            ~ .checkmark {
                border: 2px solid $color-white-secondary;
            }

            /* When the checkbox is checked, add a blue background */
            &:checked {
                ~ .checkmark {
                    background-color: $color-link;
                    border: none;
                }
            }
        }
    
}