.f45-login {
    @include responsive(tab) {
        width: 90%;  
        }
    .row {
        padding-top: 4rem;
        .col-md-8{
            @include responsive(tab) {
                
                padding-bottom: 1.5rem;
                        }
            form {
                fieldset {
                    label{
                        @include labels();
                    }
                    input{
                        @include inputs(57%);
                        
                        @include responsive(tab) {
                            width: 100%;
                            
                        }
                        
                    }
                        &:last-child {
                        position:relative;
                    }
                }

            }
            a{
                color: $color-link !important;

                &:hover {
                    color: $color-primary-light !important;
                }
            }
        }
       .col-md-4{
            border-left: 1px solid #ebeff0;
            @include responsive(tab) {
                text-align: center;
               padding-top: 1.5rem;
               border-left: 0;
               border-top: 1px solid #ebeff0;
                        }
           
           h6{
               color: $color-primary;
           }
           
        }
    } 
}